<%- include("header.ejs", {title:title }) %>

    <figure class="portrait">
      <div class="portraitText">
        <h1>Fred Zharkoff</h1>
        <h3>I Build Websites</h3>
      </div>
    </figure>

<%- include("footer.ejs", {}) %>
